<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="/images/Ninja1.jpg" alt="" /></div>
        <div class="formBx">
          <form action="/login" method="post">
            <h2>Log In</h2>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" name="Login" value="Login" />
            <p class="signup">
              <a href="/">Don't have account?</a>
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="/javascripts/script.js"></script>
</body>

</html>