<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Bike Sale Website</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="nav container">

            <i class='bx bx-menu' id="menu-icon"></i>

            <a href="#" class="logo">Bike<span>Point</span></a>

            <ul class="navbar">
                <li><a href=#home class="active">Home</a></li>
                <li><a href=#cars>Collections</a></li>
                <li><a href=#about>About</a></li>
                <li><a href=#parts>Bikes</a></li>
                <li><a href=#blog>Our Blog</a></li>
            </ul>
            <i class='bx bx-search-alt-2' id="search-icon"></i>
            <div class="search-box container">
                <input type="seach" name="" id="" placeholder="search here..">
            </div>
            <a href="/logout" class="btn">Log out</a>
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-text">
            <h1>We Have Everything<br>Your <span>Bike</span> Need</h1>
            <p>Lorem ipsum dolor, sit amet consectetur <br>adipisicing elit. Nam, optio.</p>
            <a href="#" class="btn">Discover Now</a>
        </div>
    </section>

    <section class="cars" id="cars">
        <div class="heading">
            <span>All Bikes</span>
            <h2>We have all type Bikes</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, est.</p>
        </div>
        <div class="cars-container container">
            <div class="box">
                <img src="/images/bullet2.jpg" alt="">
                <h2>Royal Enfield</h2>
            </div>

            <div class="box">
                <img src="/images/BMW4.avif" alt="">
                <h2>BMW</h2>
            </div>
            <div class="box">
                <img src="/images/kawa1.webp" alt="">
                <h2>KAWASAKI</h2>
            </div>
            <div class="box">
                <img src="/images/hero-motocorp-splendor6594efca3fa93.jpg" alt="">
                <h2>Hero</h2>
            </div>
            <div class="box">
                <img src="/images/activa-6g65e80a97062a4.jpg" alt="">
                <h2>Scooty</h2>
            </div>
            <div class="box">
                <img src="/images/mt-15-2-063ea25b00fa58.jpg" alt="">
                <h2>Yamaha</h2>
            </div>
        </div>
    </section>
    <section class="about container" id="about">
        <div class="about-img">
            <img src="/images/bullet8.jpg" alt="">
        </div>
        <div class="about-text">
            <span>About us</span>
            <h2>Cheap Price With<br>Quality Bikes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, numquam.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>
    <section class="parts" id="parts">
        <div class="heading">
            <span>What We Offer</span>
            <h2>Our Bike is Always Excellent</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, consectetur?</p>
        </div>
        <div class="parts-container container">
            <div class="box">
                <img src="/images/bullet2.jpg" alt="">
                <h3>Auto sapre00</h3>
                <span>$120.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">Buy Now</a>
                <a href="#" class="details">Views Details</a>
            </div>
            <div class="box">
                <img src="/images/BMW3.jpg" alt="">
                <h3>Auto sapre00</h3>
                <span>$120.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">Buy Now</a>
                <a href="#" class="details">Views Details</a>
            </div>
            <div class="box">
                <img src="/images/h2.jpg" alt="">
                <h3>Auto sapre00</h3>
                <span>$120.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">Buy Now</a>
                <a href="#" class="details">Views Details</a>
            </div>
            <div class="box">
                <img src="/images/hero-motocorp-splendor6594efca3fa93.jpg" alt="">
                <h3>Auto sapre00</h3>
                <span>$120.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">Buy Now</a>
                <a href="#" class="details">Views Details</a>
            </div>
            <div class="box">
                <img src="/images/bullet4.jpg" alt="">
                <h3>Auto sapre00</h3>
                <span>$120.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">Buy Now</a>
                <a href="#" class="details">Views Details</a>
            </div>
            <div class="box">
                <img src="/images/Activa1.jpg" alt="">
                <h3>Auto sapre00</h3>
                <span>$120.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="#" class="btn">Buy Now</a>
                <a href="#" class="details">Views Details</a>
            </div>

        </div>
    </section>
    <section class="blo" id="blo">
        <div class="heading">
            <span>Our & News</span>
            <h2>Our Blog Content</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, est.</p>
        </div>
        <div class="blog-container container">
            <div class="box">
                <img src="/images/kawa1.webp" alt="">
                <span>Feb 14 2021</span>
                <h3>How To Get Perfect Bike At Low Price</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, quam?</p>
                <a href="" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <div class="box">
                <img src="/images/royal2.jpg" alt="">
                <span>Feb 14 2021</span>
                <h3>How To Get Perfect Bike At Low Price</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, quam?</p>
                <a href="" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <div class="box">
                <img src="/images/Ninja1.jpg" alt="">
                <span>Feb 14 2021</span>
                <h3>How To Get Perfect Bike At Low Price</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, quam?</p>
                <a href="" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i></a>
            </div>
        </div>
    </section>
    <div class="null">
    <center>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <fieldset>
            <label>First Name 
              <input type="text" name="firstname" required /></label>
            <label>Last Name 
            <input type="text" name="Fullname" required />
            </label>
            <label>Address:
            <input type="text" name="FullAddress" required />
            </label>
            <label>Email
            <input type="email" name="email" required />
            </label>
            <label>Phone Number 
            <input type="text" name="phone" required />
            </label>
            
            <!-- <label>Check-in Date
            <input type="date" name="check-in-date" required />
            </label>
            <label>Check-out Date
            <input type="date" name="check-out-date" required />
            </label> -->
             </fieldset>
          <fieldset>
            <label> Bike
            <select name="Bike">
                  <option value="">(select one)</option>
                  <option value="1">Yamaha</option>
                  <option value="2">Hero</option>
                  <option value="3">Bullet</option>
                  <option value="4">Guesthouse</option>
                </select>
            </label><br>
         
            <!-- <label>Number of room <input type="number" name="age" min="1" max="120" class="room"/><br><br>
              <label>Room Type
              <label><input type="radio" name="room-type" class="inline" /> Single Room</label>
              <label><input type="radio" name="room-type" class="inline" /> Double Room</label>
              <label><input type="radio" name="room-type" class="inline" /> Triple Room</label>
              <label><input type="radio" name="room-type" class="inline" /> Quad Bedroom</label>
                    </label>
            </label>-->
            <br> 
            <label>Additional Requests
            <textarea name="additional" rows="5" cols="30" placeholder="Your message ..."></textarea>
            </label>
          </fieldset>
          <input type="file" name="file">
          <input type="submit"  />
    </form>
    </center>
</div>
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a href="#" class="logo">Bike<span>Point</span></a>
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                </div>
            </div>

            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Bike</a>
                <a href="#">Parts</a>
                <a href="#">sales</a>
            </div>
            <div class="footer-box">
                <h3>legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookies Policy</a>
            </div>
            
            <div class="footer-box">
                <h3>Contact </h3>
                <p>united States</p>
                <p>Japan</p>
                <p>Germany</p>

            </div>
        </div>
    </section>
    <div class="copyright">
        <p>&#BikePool All Right Reserved</p>
    </div>

    <script src="/javascripts/profil.js"></script>
</body>

</html>